@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    width: 4px;
    opacity: 1;
}

::-webkit-scrollbar-track {
    background: transparent;
    box-shadow: inset 0 0 0px ; 
    border-radius: 4px;
    margin-right: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #006FEE;
    border-radius: 4px;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background:#006FEE;
    opacity: 0.5;
    margin-right: 5px;
}